
@media screen and (max-width: 640px) {

  .panels-flexible-region, .panel-3col-33-stacked .panel-col-first, .panel-3col-33-stacked  .panel-col, .panel-3col-33-stacked  .panel-col-last, .ds-2col-fluid > .group-left, .ds-2col-fluid > .group-right, .ds-3col-equal > .group-left, .ds-3col-equal > .group-middle, .ds-3col-equal > .group-right{
	  width: 100%!important;
  }
  
  .front-block h2{
	  font-size: 18px;
  }
  
  .front-block{
	  padding: 10px 2px;
  }
  
  .small-box h3 {
    font-size: 16px;
  }

}